.*
*.o
*.so
*.a
*.in
*cache
*amd64-linux
*.supp
/config*
Makefile
compile
aclocal.m4
auxprogs/valgrind-di-server
auxprogs/valgrind-listener
cachegrind/cg_annotate
cachegrind/cg_diff
cachegrind/cg_merge
callgrind/callgrind_annotate
callgrind/callgrind_control
coregrind/link_tool_exe_darwin
coregrind/link_tool_exe_linux
coregrind/valgrind
coregrind/vgdb
depcomp
drd/scripts/download-and-build-splash2
valgrind.pc
valgrind.spec
missing
install-sh
memcheck/tests
massif/ms_print
perf/vg_perf
stamp-h1
tests/vg_regtest
